#container {
  align-items: flex-start;
}

.modal-content {
  margin-top: 3px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  width: 21rem;
  border: 1px solid #ddd;
}

.input-container {
  display: flex;
  justify-content: center;
}
.number-input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  font-size: 0.9em;
  padding: 0.3rem 0.2rem;
  margin: 0.3rem 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-input {
  padding: 0.3rem;
  border: 0.1rem solid #ddd;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 100%;
}

.close-button {
  display: none;
  background-color: #ffffe0;
  border: 0.1rem solid #ddd;
  border-left: none;
  padding: 0.3rem;
}

#value-button {
  padding: 0.3rem 0.5rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ddd;
  background-color: #fff;
}

.top-buttons-container {
  display: flex;
}
